/**
 * Foundation for Sites by ZURB
 * Version 6.2.0
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
body {
  color: #333;
  top: 0px !important;
  letter-spacing: -1px;
  line-height: 0.80em;
  font-weight: 0.1em; }
  @media screen and (min-width: 40em) {
    body {
      letter-spacing: normal;
      font-size: 1.0em;
      font-weight: 1.0em; } }

.white {
  color: rgba(15, 20, 20, 0.9);
  background: white; }

.dark {
  color: white;
  background: #464646; }

.rounded {
  border-radius: 0.30em; }

.clickable {
  cursor: pointer; }

.limity {
  max-height: 80vh;
  overflow-y: scroll; }

.bottom {
  vertical-align: middle; }

.padded {
  padding: .50em; }

.center {
  text-align: center; }

.min-20 {
  min-height: 20vh; }

.min-50 {
  min-height: 50vh; }

.min-70 {
  min-height: 70vh; }

.max-20 {
  max-height: 20vh; }

.max-50 {
  max-height: 50vh; }

.max-70 {
  max-height: 70vh; }

.row .collapse {
  padding-left: 0;
  padding-right: 0; }
.row .uncollapse {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

/*
    Header
*/
#header {
  padding-top: 1em;
  height: 4.5em; }
  @media screen and (min-width: 40em) {
    #header {
      height: 4.5em; } }
  #header #header-nav {
    padding-top: 0.5em; }
    #header #header-nav .button {
      width: 100%;
      font-size: 0.6em; }
      @media screen and (min-width: 40em) {
        #header #header-nav .button {
          font-size: .80em; } }
      @media screen and (min-width: 64em) {
        #header #header-nav .button {
          font-size: 1.2em; } }

/*
    Logo
*/
#logo {
  padding-left: 0.5em; }
  #logo h1 {
    display: inline-block;
    text-transform: uppercase;
    color: #2C383B;
    padding-right: 0.50em;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1.0em; }
    @media screen and (min-width: 40em) {
      #logo h1 {
        font-size: 1.5em; } }
    @media screen and (min-width: 64em) {
      #logo h1 {
        font-size: 2.0em; } }
  #logo span {
    display: inline-block;
    padding-left: 1.50em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em; }
    @media screen and (max-width: 39.9375em) {
      #logo span {
        font-size: 0.25em;
        padding-left: 0.5em; } }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      #logo span {
        font-size: 0.6em;
        padding-left: 1.0em; } }
  #logo a {
    text-decoration: none;
    color: #2C383B; }

/*
    Divider
*/
#divider {
  background: #ffa830;
  height: 2.5em; }
  @media screen and (min-width: 40em) {
    #divider {
      height: 2.5em; } }
  @media screen and (min-width: 64em) {
    #divider {
      height: 0.7em; } }

/*
    Content
*/
/*

Left off-canvas

*/
#left-toggle #toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%; }
#left-toggle #toggle + label {
  position: fixed;
  z-index: 9999;
  left: -5px;
  top: 5.55em;
  cursor: pointer;
  padding: 10px;
  background: #959595;
  width: 70px;
  border-radius: 1px;
  padding: 8px 5px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 5px 5px;
  transition: all 250ms ease; }
#left-toggle #toggle + label:after {
  background-image: url("/static/images/menu.png");
  background-size: 1.5em 1.5em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: ""; }
#left-toggle .container {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  background-color: rgba(50, 50, 50, 0.85);
  padding: 0.5em 1em;
  z-index: 9900;
  min-height: 7em;
  height: 70vh;
  top: 4.5em;
  left: -60vw;
  width: 60vw;
  position: fixed; }
#left-toggle .message {
  color: white;
  height: 65vh;
  max-height: 70vh;
  overflow-y: scroll; }
  #left-toggle .message input {
    color: vt-light;
    background-color: rgba(70, 70, 70, 0.95); }
#left-toggle #toggle:checked ~ .message {
  top: 0; }
#left-toggle #toggle:checked ~ .container {
  margin-left: 60vw; }
#left-toggle #toggle:checked ~ label {
  margin-left: 60vw; }
#left-toggle #toggle:checked + label:after {
  content: ""; }
#left-toggle .button {
  display: block;
  width: 5em;
  min-height: 5em;
  bottom: 50px;
  z-index: 9999;
  position: fixed; }

/*
    Collapse
*/
.collapse {
  cursor: pointer;
  display: block; }

.collapse + input {
  display: none;
  /* hide the checkboxes */ }

.collapse + input + div {
  display: none; }

.collapse + input:checked + div {
  display: block; }

/*
    Copyright
*/
#copyright {
  text-align: center; }
  #copyright p {
    color: #959595; }

/*
    Accordion
*/
.accordion {
  margin-right: 0.25em; }
  .accordion .submenu {
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.8);
    list-style: none;
    padding: 0.25em;
    margin: 0; }
    .accordion .submenu li {
      cursor: pointer;
      margin-top: 2px;
      padding-left: 0.2em;
      padding-top: 0.33em;
      padding-bottom: 0.33em;
      font-size: .85em;
      color: black;
      background-color: rgba(254, 254, 254, 0.98); }
    .accordion .submenu img {
      height: 1.6em;
      width: auto;
      clear: both;
      float: right; }

/*********************************************************************************/
/* CANVAS                                                                        */
/*********************************************************************************/
canvas {
  height: 100%;
  width: 100%; }

/*********************************************************************************/
/* LEGEND                                                                        */
/*********************************************************************************/
.chart-legend {
  padding-top: 1em;
  margin-bottom: 2em;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.5);
  border-size: 1px;
  font-size: 1.0em; }

.chart-legend span {
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.5);
  border-size: 1px;
  minimum-width: 5em;
  height: 1em; }

.chart-legend span {
  float: left;
  width: 5em;
  margin-right: 1em;
  margin-left: 0.5em; }

/*********************************************************************************/
/* MAP                                                                           */
/*********************************************************************************/
#map {
  height: 82vh;
  width: 100%; }

#map-container {
  width: 100%;
  height: 100%; }

#map-ctrl {
  width: 100%;
  height: 0%; }

#clinicidx {
  height: 100%;
  width: 100%;
  overflow: auto; }

#infobox-text {
  color: #000;
  font-size: 1.0em; }

#infobox-text a {
  color: #007;
  font-size: 1.0em; }

/*********************************************************************************/
/* Loader --please wait spinner                                                  */
/*********************************************************************************/
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #333;
  font-size: .25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 4em;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
/*********************************************************************************/
/* TABLE                                                                         */
/*********************************************************************************/
table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  color: rgba(25, 25, 20, 0.8);
  border-collapse: collapse;
  margin-top: 1.0em; }

table, th, td {
  border: 0.05em solid black; }

th {
  height: 2.0em;
  background-color: rgba(50, 100, 150, 0.6);
  color: #f0f0fa; }

tr:hover {
  background-color: rgba(255, 255, 255, 0.8); }

td {
  padding-left: 0.5em; }

.selected-column {
  background-color: rgba(100, 100, 255, 0.1);
  color: black; }

.selected-item {
  background-color: rgba(255, 255, 0, 0.25);
  color: black; }

.selected-header {
  background-color: rgba(100, 100, 255, 0.1);
  color: black;
  font-weight: bold; }

/*
Google Translate Modifications
*/
.skiptranslate {
  visibility: hidden !important;
  display: none !important;
  border: none !important; }

.goog-text-highlight {
  background-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  -moz-box-shadow: inherit !important;
  box-shadow: inherit !important; }

/*# sourceMappingURL=app.css.map */
