<form>
    {{"Start Date" | translate}} </br>
    <input type="date" value={{startString}} id="startDate" name="startDate" size="20" ng-model='selection.startDate' />
    </br>{{"End Date" | translate }} </br>
    <input type="date" value={{endString}} id="endDate" name="endDate" size="20" ng-model='selection.endDate'/>
    </br>
    <input type="button" value='{{"Select" | translate}}' name="Sub" ng-click='selectDate(selection)'>
</form>
