<div>
    <ul class="accordion" style="margin-top:.5em;">
        <a href="#"class="accordion-title"><b>{{"Drill Menu" | translate}}</b></a>
        <ul class="submenu">
            <li ng-controller="DrillController as CT">
                <a href=""  ng-click="CT.select()" ng-hide="CT.isZero()">
                    <div ng-style="CT.style()">{{"Up a Level" | translate}}</div>
                </a>
                <div ng-show="CT.working()" class="loader" >Loading...</div>
            </li>
            <li ng-repeat="row in items" ng-controller="DrillController as Ctl" ng-init="Ctl.init(row)">
                <a href="" ng-click="Ctl.select()" ng-style="Ctl.style()"> {{row.name}} </a>
            </li>
        </ul>
        <ul class="submenu" ng-controller="DrillController as CT" ng-hide="CT.working()">
            <a href="#"class="accordion-title"><b>{{"Select Date" | translate}}</b></a>
            <li>
                <date-range window=6 />
            </li>
        </ul>
</div>
