<div>
    <table>
        <thead>
            <tr ng-show="!hasHeaders">
                <th ng-click='getCSV()'>[SAVE]</th>
                <th ng-repeat="l in data.labels track by $index">{{l}}</th>
            </tr>
            <tr ng-show="hasHeaders">
                <th ng-repeat="l in headers track by $index">{{l}}</th>
            </tr>
        </thead>
        <tbody>
            <tr id={{d.label}} ng-repeat="d in data.datasets track by $index">
                <td ng-class="getClass(d,null)">{{d.label}}</td>
                <td ng-repeat="ob in d.data track by $index" ng-class="getClass(d,'{{$index}}')">{{ob}}</td>
            </tr>    
        </tbody>
    </table>
</div>
