<div ng-repeat="row in rows">
    <b>{{row.clinicName | uppercase}} | {{$parent.label}}</b>
    <bar-chart name="chart_visits_{{row.clinicName}}" legend="search-reg" clinic="{{row.clinicName}}"clinicid="{{row.clinicID}}"charttype="bar"height=400 width=800 views='[{"url":"/api/form/activity/form-type-by-clinic/json","args":["?reduce=true&group_level=3&startkey=[","{{row.clinicID}}",",","{{row.start.year}}",",","{{row.start.month}}","]&endkey=[","{{row.clinicID}}",",","{{row.end.year}}",",","{{row.end.month}}",",","{}","]"],"xaxisparts":[1,2],"simpleValues":false,"valueKeys":["search","registration"]}]'></bar-chart>
    <table-view name="table_search_{{row.clinicName}}"clinic="{{row.clinicName}}"clinicid="{{row.clinicID}}"charttype="bar"height=400 width=800 views='[{"url":"/api/form/activity/form-type-by-clinic/json","args":["?reduce=true&group_level=3&startkey=[","{{row.clinicID}}",",","{{row.start.year}}",",","{{row.start.month}}","]&endkey=[","{{row.clinicID}}",",","{{row.end.year}}",",","{{row.end.month}}",",","{}","]"],"xaxisparts":[1,2],"simpleValues":false,"valueKeys":["search","registration"]}]'></table-view>
</div>
