<div ng-repeat="row in rows">
    <b>{{row.clinicName | uppercase}} | {{$parent.label}}</b>
    <bar-chart name="chart_visits_{{row.clinicName}}" clinic="{{row.clinicName}}" clinicid="{{row.clinicID}}" charttype="line" fill=false height=400 width=800 views='[{"url":"/api/case/patient/returnbyclinic/json","args":["?reduce=true&group_level=3&startkey=[","{{row.clinicID}}",",","{{row.start.year}}",",","{{row.start.month}}","]&endkey=[","{{row.clinicID}}",",","{{row.end.year}}",",","{{row.end.month}}",",","{}","]"],"xaxisparts":[1,2],"simpleValues":false,"valueKeys":["outstanding","completed"]}]'></bar-chart>
    <table-view name="table_visits_{{row.clinicName}}" clinic="{{row.clinicName}}" clinicid="{{row.clinicID}}" views='[{"url":"/api/case/patient/returnbyclinic/json","args":["?reduce=true&group_level=3&startkey=[","{{row.clinicID}}",",","{{row.start.year}}",",","{{row.start.month}}","]&endkey=[","{{row.clinicID}}",",","{{row.end.year}}",",","{{row.end.month}}",",","{}","]"],"xaxisparts":[1,2],"simpleValues":false,"valueKeys":["outstanding","completed"]}]'></table-view>
</div>
