<div class='map-legend'>
        <table>
            <thead>
                <tr>
                    <th ng-repeat="l in data.headers track by $index">{{l}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.body track by $index">
                    <td ng-bind="row[0]"></td>
                    <td><img src="{{row[1]}}"></img></td>
                </tr>
            </tbody>
        </table>
</div>
