<div class='map-legend'>
        <ul class="accordion" style="margin-top:.5em;">
            <div href="#"class="accordion-title">
                <b ng-repeat="l in data.headers track by $index" ng-show=$first>{{l}}</b>

            </div>
            <ul class="submenu">
                <li ng-repeat="row in data.body track by $index">
                    <span ng-bind="row[0]"></span>
                    <span><img src="{{row[1]}}"></img></span>
                </li>
            </ul>
    </ul>
</div>
