<div>
    <p>
        {{c1_name}}: Registered: {{c1_reg}} Travelers: {{getTraffic(c1)}} ({{(getTraffic(c1) / c1_reg)*100 | number:2}} %)<br>
        {{c2_name}}: Registered: {{c2_reg}} Travelers: {{getTraffic(c2)}} ({{(getTraffic(c2) / c2_reg)*100 | number:2}} %)<br>
        Common Visitors: {{count}}<br>
    </p>
</div>
