.white {
  color: rgba(15, 20, 20, 0.9);
  background: white; }

.dark {
  color: white;
  background: #383838; }

.rounded {
  border-radius: 0.30em; }

.clickable {
  cursor: pointer; }

.limity {
  max-height: 80vh;
  overflow-y: scroll; }

.bottom {
  vertical-align: middle; }

.padded {
  padding: .50em; }

.center {
  text-align: center; }

.min-20 {
  min-height: 70vh; }

/*********************************************************************************/
/* CANVAS                                                                        */
/*********************************************************************************/
canvas {
  width: 100%;
  height: 30em; }

/*********************************************************************************/
/* LEGEND                                                                        */
/*********************************************************************************/
.chart-legend {
  padding-top: 1em;
  margin-bottom: 2em;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.5);
  border-size: 1px;
  font-size: 1.0em; }

.chart-legend span {
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.5);
  border-size: 1px;
  minimum-width: 5em;
  height: 1em; }

.chart-legend span {
  float: left;
  width: 5em;
  margin-right: 1em;
  margin-left: 0.5em; }

/*********************************************************************************/
/* MAP                                                                           */
/*********************************************************************************/
#infobox-text {
  color: #000;
  font-size: 1.0em; }

#infobox-text a {
  color: #007;
  font-size: 1.0em; }

/*********************************************************************************/
/* TABLE                                                                         */
/*********************************************************************************/
table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  color: rgba(25, 25, 20, 0.8);
  border-collapse: collapse;
  margin-top: 1.0em; }

table, th, td {
  border: 0.05em solid black; }

th {
  height: 2.0em;
  background-color: rgba(50, 100, 150, 0.6);
  color: #f0f0fa; }

tr:hover {
  background-color: rgba(255, 255, 255, 0.8); }

td {
  padding-left: 0.5em; }

.selected-column {
  background-color: rgba(100, 100, 255, 0.1);
  color: black; }

.selected-item {
  background-color: rgba(255, 255, 0, 0.25);
  color: black; }

.selected-header {
  background-color: rgba(100, 100, 255, 0.1);
  color: black;
  font-weight: bold; }

/*# sourceMappingURL=app.css.map */
