## base-js-map.mako
<%inherit file="base-js.mako"/>
<%block name="header">${parent.header()}
<script src="/js/chart.js/Chart.js"></script>
<script src="/static/app/dataviz/dataviz.js"></script>
<script src="/static/app/service/CouchService.js"></script>
<script src="/static/app/service/CSVService.js"></script>
</%block>
${next.body()}


