## base-js-widget.mako
<%inherit file="base-js.mako"/>
<%block name="header">${parent.header()}
<script src="/static/app/service/CouchService.js"></script>
<script src="/static/app/service/CSVService.js"></script>
<script src="/static/app/widget/widgets.js"></script>
<script src="/static/app/widget/c7.js"></script>
</%block>
${next.body()}


