## base-js-map.mako
<%inherit file="base-js.mako"/>
<%block name="header">${parent.header()}
<script src="/static/app/admin/usage/usage.js"></script>
<script src="/static/app/service/CouchService.js"></script></%block>
${next.body()}



