<%inherit file="base-js-widget.mako"/>

<%block name="header">${parent.header()}
<script src="/static/app/quickselect/status.js"></script>
<script src="/js/chart.js/Chart.js"></script>
<script src="/static/app/dataviz/dataviz.js"></script>
<title>${_("Select Clinic")}</title>
<meta charset="utf-8">
</%block>
<div ng-app='QuickSelect.Status'>
    <div class='row'>

        <div class='large-8 large-order-2 medium-12 small-12 columns'>
            <div class='rounded white padded'>
                <status-select label="${_("Search / Registration Frequency")}" type="search-reg">
                </status-select>
            </div>
        </div>
        <div class='large-2 large-order-3 show-for-large columns'>

            <div class='rounded white padded'>
                <chart-legend name="search-reg">
                </chart-legend>
                <date-range>
                </date-range>
                <month-picker style="visibility: hidden;">
                <month-picker/>
            </div>

        </div>
        <div class='large-2 large-order-1 show-for-large limity columns'>
            <clinic-groups test='zone'></clinic-groups>
        </div>
        <div id='left-toggle' class='hide-for-large columns'>
            <input type="checkbox" name="toggle" id="toggle" />
            <label for="toggle"></label>
            <div class="container">
                <div class="message">
                    <clinic-groups test='zone'></clinic-groups>
                    <date-range>
                    </date-range>
                    <chart-legend name="search-reg" style="margin-top:.5em;" >
                    </chart-legend>
                    <chart-legend name="search-types" style="margin-top:.5em;">
                </chart-legend>
                </div>
            </div>
        </div>

    </div>
    <div class='row'>
        <div class='large-2 large-order-1'>
        </div>
        <div class='large-8 large-order-2 medium-12 small-12 columns'>
            <clinic-table>
            <clinic-table/>
            <div class='rounded white padded'>
                <status-select label="${_("Searches by Type")}" type="search-types">
                </status-select>
            </div>
        </div>
        <div class='large-2 large-order-3 show-for-large columns'>

            <div class='rounded white padded'>
                <chart-legend name="search-types">
                </chart-legend>
            </div>

        </div>
    </div>

</div>






