<ul class="submenu">
    <li ng-repeat="evt in events track by $index" ng-click="flash(evt.user_id)">{{evt.user | translate}} : {{evt.received}}</li>
    <li>
        <div class="loader">Loading...</div>
    </li>
</ul>

