<div>
    <div ng-click='active = !active;' ng-hide='active'>
        Add a new user...
    </div>
    <div ng-show='sent' class="loader">Loading...</div>
    <div ng-show='validateMsg!=null'><b>{{validateMsg}}</b></div>
    <form ng-show='active' class='dark' style='margin:1em; padding:1em;'>
        <div ng-repeat="(field, fieldName) in fieldNames">
            <label style="display:inline-block; width:12em;">{{fieldName}}:</label>
            <input type={{getType(field)}} ng-model="cache[field]" style='color:black;' required/><br>
        </div>
        <div ng-click='save()'>
            <img src='/static/mapicons/green.png'></img>
        </div>
        <div ng-click='cancel()'>
            <img src='/static/mapicons/red.png'></img>
        </div>

    </form>
</div>
