<tr ng-repeat="user in users track by $index" ng-controller='userTableController' ng-init='init(user)' >
    <td ng-repeat='field in fields track by $index' ng-click='edit(field)' ng-blur='unfocus(field)'>
        <div ng-show="editing[field]" ><input type="text" ng-model="cache[field]" placeholder="{{user[field]}}"/></div>
        <div ng-hide="editing[field]" >{{cache[field]? cache[field]: user[field]}}</div>
    </td>
    <td ng-hide="editing['groups']" ng-click='edit("groups")' >{{cache['groups']? cache['groups'] : getGroup()}}</td>
    <td ng-show="editing['groups']" >
        <div ng-repeat="group in groups">
            <label>
                <input type='radio' ng-model="cache['groups']" ng-value="group">
                {{group}}
            </label>
        </div>

    </td>
    <!-- Save -->
    <td ng-show='modified' ng-click='commit()'><img src='/static/mapicons/green.png'></img></td>
    <td ng-hide='modified'><img src='/static/mapicons/grey.png'></img></td>
    <!-- Undo -->
    <td ng-show='modified' ng-click='undo()'><img src='/static/mapicons/red.png'></img></td>
    <td ng-hide='modified'><img src='/static/mapicons/grey.png'></img></td>
</tr>
