<div>
    <p>
        <b>C7 Report</b><br>
        <a href="" ng-click="previous()">
            <-Previous |
        </a>
        <span ng-bind="activeItem.name">
        </span>
        <a href="" ng-click="next()">
           | Next->
        </a>
    </p>
    <table-view source="c7" name="C7"></table-view>
</div>
