<ul class="submenu">
    <li ng-repeat="row in markers" ng-controller="ClinicSelectController as Ctl" ng-init="Ctl.init(row)" ng-click='Ctl.center()'>
        <a href=''>{{Ctl.getLabel()}}</a>
        <img ng-show="Ctl.hasIcon()" ng-src="{{Ctl.getIcon()}}"></img>
    </li>
</ul>
