<div>
    <div>
        <ul class="accordion" style="margin-top:.5em;">
            <li ng-repeat="name in groups" >
                <a href="#" class="accordion-title" ng-click="check(name)"><b>{{name}}</b></a>
                <clinic-list value='name' test='test' ng-show="isChecked(name)"></clinic-list>

            </li>
        </ul>
    </div>
</div>
