<table style='table-layout:fixed;'>
    <tr>
        <th colspan =1><div ng-click='change_month(-1)'><-</div></th>
        <th colspan='{{longestCol}}'>
            {{clinic != null ? clinic +" : " + start.year + " - " + start.month : "Select a Clinic"}}
        </th>
        <th colspan =1><div ng-click='change_month(1)'>-></div></th>
    </tr>
    <tbody ng-repeat='row in antigenRows track by $index'>
        <tr>
            <th rowspan=2 colspan=2 style='width:12%;'>Type of Vaccine</th>
            <th ng-repeat='vac in vaccineRow[$index]' rowspan="{{vac.doses.length > 1 ? 1: 2}}" colspan={{vac.doses.length}}>{{vac.name}}</th>
        </tr>
        <tr>
            <td ng-repeat='item in doseLabelRow[$index] track by $index' style='text-align:center;'>{{item}}</td>
        </tr>
        <th colspan=2 >Children Immunized</th>
        <td ng-repeat='item in row track by $index'  style='text-align:center;'>
            <antigen-cell antigen='item.antigen' dose='item.dose' clinicid='clinicid' clinicid='clinicid' month='month' year='year' ng-if="item.type == 'antigenCell' "></antigen-cell>
            <completion-cell clinicid='clinicid' month='month' year='year' ng-if="item.type == 'completion' "> </completion-cell>
        </td>

    </tbody>

    <!--
    <tr>
        <th rowspan=2 colspan=2 style='width:12%;'>Type of Vaccine</th>
        <th ng-repeat='vac in vaccines' rowspan="{{vac.doses.length > 1 ? 1: 2}}" colspan={{vac.doses.length}}>{{vac.name}}</th>
    </tr>
    <tr>
        <th ng-repeat='dose in doseLabels track by $index' style='text-align:center;'>
            {{dose}}
        </th>
    </tr>
    <tr>
        <th colspan=2 style='text-align:center;'>1 </th>
        <th ng-repeat='item in colLabels track by $index'  style='text-align:center;'>
            {{$index+2}}
        </th>
    </tr>
    <tr>
        <th colspan=2 >Children Immunized</th>
        <td ng-repeat='item in antigens track by $index'  style='text-align:center;'>
            <antigen-cell antigen='item.antigen' dose='item.dose' clinicid='clinicid' clinicid='clinicid' month='month' year='year' ng-if="item.type == 'antigenCell' "></antigen-cell>
            <completion-cell clinicid='clinicid' month='month' year='year' ng-if="item.type == 'completion' "> </completion-cell>
        </td>
    </tr>
    -->

    <!-- Currently disabled as stock tracking is non imp.
    <tr>
        <th rowspan=2>Vaccine (Dose)</th>
        <th style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">Received</th>
        <td ng-repeat='vac in vaccines' colspan={{vac.doses.length}} style='text-align:center;'>
            {{vac.type != "antigenCell"? "" : "~"}}
        </td>
    </tr>
    <tr>
        <th style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">Expended</th>
        <td ng-repeat='vac in vaccines' colspan={{vac.doses.length}} style='text-align:center;'>
            {{vac.type != "antigenCell"? "" : "~"}}
        </td>
    </tr>
    -->


</table>

